body {
	margin: 0;
	padding: 0;
	background: #efefef;
	font-size: 16px;
	color: #777;
	font-family: sans-serif;
	font-weight: 300;
}

#regis-box {
	position: relative;
	margin: 5% auto;
	height: 400px;
	width: 600px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

#login-box {
	position: relative;
	margin: 10% auto;
	height: 350px;
	width: 300px;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
}

.left-box {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 500px;
}
h1 {
	margin: 0 0 20px 0;
	font-weight: 300;
	font-size: 28px;
}
input[type="email"],[type="password"],[type="text"] {
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	outline: none;
	border-bottom: 1px solid #aaa;
	font-family: sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
}
input[type="submit"]{
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background: #f44336;
	border: none;
	border-radius: 2px;
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
	transition: 0,2s ease;
	cursor: pointer;
	border-radius: 10px;
}
input [type="submit"]:hover,
input [type="submit"]:focus{
	background: #ff5722;
	transition: 0.2s ease;
}
.right-box {
float: right;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
	background-image: url(img4.jpg);
	background-size: cover;
	background-position: center;
}

.right-box .signinwith {
	display: block;
	margin-bottom: 40px;
	font-size: 28px;
	color: #fff;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.6)
}

.coba{
	color: white;
	text-decoration: none
}

button {
	margin-bottom: 20px;
	text-align: left;
	width: 225px;
	height: 35px;
	border: none;
	border-radius: 10px;
	color: #fff;
	font-family: sans-serif;
	font-weight: 500;
	transition: 0.2s ease;
	cursor: pointer;
}
.facebook {
	background: #32508e;
}
.twitter {
	background: #55acee;
}
.google {
	background: #dd4b39;
}

.or {
position: absolute;
	margin-top: 30%;
	margin-left: 47%;
	width: 40px;
	height: 40px;
	background: #efefef;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0,0,0,0.6);
	line-height: 40px;
	text-align: center;
}

.test{
	text-decoration: none;
	text-align: center;
	color: black;
}